/* Architects Daughter */
@font-face {
  font-family: "Architects Daughter";
  font-style: normal;
  font-weight: 400;
  src: local("Architects Daughter"), url("/assets/fonts/ArchitectsDaughter.woff") format("woff");
}
.collab_hint {
  position: relative;
}
.collab_hint p {
  position: absolute;
  font-family: "Architects Daughter", cursive;
  font-size: 15px;
  font-size: .9375rem;
  color: #838990;
}
.collab_hint.tasklist {
  padding-bottom: 30px;
}
.collab_hint.tasklist p {
  top: 0;
  right: 180px;
  padding: 0 45px 20px 0;
  background: url(/system/modules/collab/assets/img/arrow_right_top.png) right top no-repeat;
}
